.card {
  width: 150px;
  height: 231px;
  perspective: 500px;
  user-select:none;
  /* margin: 20px; */
}

.content {
  width: 100%;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border: 1px solid #a4373a;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin: auto;
  cursor: pointer;
}

.card.show .content {
  transform: rotateY( 180deg ) ;
  transition: transform 1s;
}

.content .front,
.content .back {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: white; */
  line-height: 200px;
  color: #a4373a;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  backface-visibility: hidden;
  background: rgb(116,23,26);
  background: linear-gradient(355deg, rgba(116,23,26,1) 0%, rgba(164,55,58,1) 35%, rgba(246,109,113,1) 100%);
}

.content .front .done {
  color: #fff;
}

.content .back {
  background: #fff;
  color: #a4373a;
  transform: rotateY( 180deg );
}

.card .name {
  text-align: center;
  text-transform: capitalize;
  color: #a4373a;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}
/* *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */