/* main {
 padding: 0 !important;
} */

.room {
  flex-direction: column;
  padding: 40px;
}

.panel {
  padding: 10px 24px 24px 24px;
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
}

.panel .myroom {
  /* color: var(--primary-color); */
  text-transform: capitalize;
  margin: 0 0 16px 0;
}

.panel .myroom .owner {
  font-size: 14px;
  text-transform: none;
}

.panel .input {
  width: 400px;
  display: inline-grid;
  margin-right: 20px;
}

input:disabled {
  font-weight: bold;
}

.panel .task {
  font-size: 15px;
  font-weight: bold;
}

.filler {
  flex: 1;
  display: flex;
  margin-top: 10px;
}

.filler .participants {
  /* display: flex;
  flex-wrap: wrap; */
  border: 1px solid var(--dark-grey);
  /* justify-content: space-between; */
  margin-right: 10px;
  /* padding: 10px;
  max-width: 1142px; */
  flex: 1;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  /* justify-content: space-between; */
  grid-gap: 40px;
  padding: 20px;
}

.filler .result {
  padding: 20px;
  border: 1px solid var(--dark-grey);
  text-align: center;
  width: 400px;
  /* flex-grow: 1; */
}
.filler .result .wrapper {
  margin-bottom: 20px;
}

.filler .result .wrapper .heading {
  margin-bottom: 10px;
  line-height: 1;
  color: var(--primary-color);
}

.filler .result .wrapper .circle { 
  height: 160px;
  width: 160px; 
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  margin: auto;
}
  
.filler .result .wrapper .inner {
  position: relative;
  top: 50%;
  color: var(--secondary-color);
  text-align: center;
  line-height: 0;
  font-weight: bold;
  font-size: 28px;
}