/* main {
 padding: 0 !important;
} */

.room {
  flex-direction: column;
  padding: 40px;
}

.panel {
  border: 1px solid #dfe1e5;
  padding: 24px;
}

.panel .input {
  width: 400px;
  display: inline-table;
  margin-right: 20px;
}

/* .content > * {
  padding-bottom: 10px;
}
.panel.disable {
  pointer-events: none;
  opacity: 0.4;
} */

.filler {
  flex: 1;
  display: flex;
  margin-top: 10px;
}

.filler .participants {
  /* display: flex;
  flex-wrap: wrap; */
  border: 1px solid #dfe1e5;
  /* justify-content: space-between; */
  margin-right: 10px;
  /* padding: 10px;
  max-width: 1142px; */
  flex: 1;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  /* justify-content: space-between; */
  grid-gap: 40px;
  padding: 20px;
}

.filler .result {
  padding: 20px;
  border: 1px solid #dfe1e5;
  text-align: center;
  width: 400px;
  /* flex-grow: 1; */
}

.filler .result .heading {
  margin: 0;
}