/* main {
 padding: 0 !important;
} */

.room {
  flex-direction: column;
  padding: 40px;
}

.panel {
  border: 1px solid #dfe1e5;
  padding: 24px;
}

.panel .input {
  width: 400px;
  display: inline-block;
  margin-right: 20px;
}

/* .content > * {
  padding-bottom: 10px;
}
.panel.disable {
  pointer-events: none;
  opacity: 0.4;
} */

.filler {
  flex: 1;
  display: flex;
}

.filler .participants {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dfe1e5;
  /* justify-content: space-between; */
  margin-top: 10px;
  padding: 10px;
  max-width: 1162px;
}

.filler .result {
  margin: 10px 0 0 10px;
  padding: 40px;
  border: 1px solid #dfe1e5;
  text-align: center;
  flex-grow: 1;
}