.heading {
  text-align: center;
  margin-top: 40px;
}

.deck {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 20px auto 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 50px;
  height: 80px;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--primary-color);
  user-select: none;
}

.card.disabled .container {
  opacity: 0.3;
  cursor: initial;
}

.card.selected .container {
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.container {
  line-height: 80px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}