.header {
  background-color: #ffffff;
  padding: 10px 40px;
  display: flex;
}

.header .heading {
  color: var(--primary-color);
  font-weight: bold;
}

.header .navbar {
  flex: 1;
}

/* .header .ms-CommandBar {
  padding-left: 0;
} */


/* .right-nav {
  background-color: red;
} */
/* .user {
  border: 0;
  margin-left: 10px;
} */
