.header {
  background-color: #ffffff;
  padding: 10px 40px;
  display: flex;
}

.heading {
  color: #a4373a;
  font-weight: bold;
}

.left-nav {
  flex: 1;
}

.left-nav .ms-CommandBar {
  padding-left: 0;
}

.user {
  border: 0;
  margin-left: 10px;
}