:root {
  /* --primary-color: #a4373a; */
  --primary-color: #0a70e3;
  --secondary-color: #33cd00;
  --light-grey: #faf9f8;
  --dark-grey: #dfe1e5;
}

/* fluentui override */
.ms-Button--commandBar:hover {
  background-color: rgb(243, 242, 241);
  color: rgb(32, 31, 30);
}


html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#root, .theme-provider {
  height: 100%;
  min-height: 100%;
	background-color: var(--light-grey);
  display: flex;
	flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  padding: 80px 0;
  justify-content: center;
  margin-top: 20px;
}

.banner {
  width: 64rem;
}